// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  // color: $brand-color;
  text-decoration: none;
}

/* Screen Font Resize Setting */
@media screen and (min-width: 768px) {
  th {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  th {
    font-size: 12px;
  }
  h2 {
    font-size: 20px;
    text-align: center;
  }
  .card-body {
    padding: 0.5rem 0.25rem;
  }
}
